body
	position relative
	height 100vh
	min-width 320px
	min-height 400px
	width 100%
	color #8a8ea7
	transition 0.5s all
	background-color #ffffff


html
	font-family Bebasneue, sans-serif
	font-weight bold
	font-size 62.5%
	line-height 1.4
	letter-spacing 0
	min-width 320px
	margin-left auto
	margin-right auto


.section
	font-size 1.6rem
	padding-top 330px
	+to-width(992px)
		padding-top 250px
	+to-width(640px)
		padding-top 180px


.wrap
	position relative
	padding 0 40px
	width 100%
	margin-left auto
	margin-right auto
	max-width 1400px
	+to-width(992px)
		padding 0 30px
	+to-width(640px)
		padding 0 20px



.main
	display flex
	flex-direction column
	min-height 100vh
	position relative
	z-index 2
