Bebasneue = 'Bebasneue'

IBMPlexSans = 'IBMPlexSans'

icomoon = 'icomoon'


@font-face {
	font-family: 'Bebasneue';
	src: url('../fonts/bebasneueregular.eot');
	src: url('../fonts/bebasneueregular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebasneueregular.woff2') format('woff2'),
		url('../fonts/bebasneueregular.woff') format('woff'),
		url('../fonts/bebasneueregular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Bebasneue';
	src: url('../fonts/bebasneuebold.eot');
	src: url('../fonts/bebasneuebold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebasneuebold.woff2') format('woff2'),
		url('../fonts/bebasneuebold.woff') format('woff'),
		url('../fonts/bebasneuebold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Bebasneue';
	src: url('../fonts/bebasneuebook.eot');
	src: url('../fonts/bebasneuebook.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebasneuebook.woff2') format('woff2'),
		url('../fonts/bebasneuebook.woff') format('woff'),
		url('../fonts/bebasneuebook.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebasneue';
	src: url('../fonts/bebasneuelight.eot');
	src: url('../fonts/bebasneuelight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebasneuelight.woff2') format('woff2'),
		url('../fonts/bebasneuelight.woff') format('woff'),
		url('../fonts/bebasneuelight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}


@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans/IBMPlexSans-Light.eot');
	src: url('../fonts/IBMPlexSans/IBMPlexSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IBMPlexSans/IBMPlexSans-Light.woff2') format('woff2'),
		url('../fonts/IBMPlexSans/IBMPlexSans-Light.woff') format('woff'),
		url('../fonts/IBMPlexSans/IBMPlexSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans/IBMPlexSans-Regular.eot');
	src: url('../fonts/IBMPlexSans/IBMPlexSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IBMPlexSans/IBMPlexSans-Regular.woff2') format('woff2'),
		url('../fonts/IBMPlexSans/IBMPlexSans-Regular.woff') format('woff'),
		url('../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans/IBMPlexSans-Bold.eot');
	src: url('../fonts/IBMPlexSans/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IBMPlexSans/IBMPlexSans-Bold.woff2') format('woff2'),
		url('../fonts/IBMPlexSans/IBMPlexSans-Bold.woff') format('woff'),
		url('../fonts/IBMPlexSans/IBMPlexSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot');
	src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


